# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ela_reconstruction\yyyzzz.github.io.VESN-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
